* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 1;
    border: 0;
    font-family: 'Open Sans', sans-serif;
}

main {
    padding: 24px;
}

button {
    background-color: transparent;
}

@import './components/Chrome/PageHeader.css';
@import './components/Chrome/ErrorPage.css';
@import './components/Generic/DataList.css';
@import './components/Core/Link.css';
@import './components/Core/Search.css';
@import './components/Core/Loader.css';
@import './components/Core/InfiniteScroll.css';