* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 1;
    border: 0;
    font-family: 'Open Sans', sans-serif;
}

main {
    padding: 24px;
}

button {
    background-color: transparent;
}

main ol {
    list-style: none;
    display: flex;
    margin-top: 12px;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
}

main ol li {
    width: 12%;
    padding: 1%;
    margin-bottom: 12px;
}

@import './components/Chrome/PageHeader.css';
@import './components/Generic/DataList.css';
@import './components/Generic/Link.css';
@import './components/Generic/Search.css';
@import './components/Generic/Loader.css';
@import './components/Generic/InfiniteScroll.css';