* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 1;
    border: 0;
    font-family: 'Open Sans', sans-serif;
}

main {
    padding: 24px;
}

main ol {
    list-style: none;
    display: flex;
    margin-top: 12px;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

main ol li {
    width: 12%;
    padding: 1%;
    margin-bottom: 12px;
}

.PageHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.PageHeader a {
    cursor: pointer;
    font-weight: bold;
    transition: 100ms ease-in-out opacity;
}

.PageHeader a:hover {
    opacity: 0.6;
}

.PageHeader > * + * {
    margin-left: 24px;
}

.nav-link {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    height: 100%;
    padding: 24px;
    width: 100%;
    cursor: pointer;
}

.nav-link:hover,
.nav-link:active {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.data-list {
    margin-top: 12px;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.data-list li {
    width: 32%;
}

.data-list:not(:first-child) li {
    margin-top: 12px;
}

.data-list h3 {
    margin-bottom: 6px;
}

.data-list__text {
    display: block;
}

.link {
    display: block;
    font-size: inherit;
    color: #4F8CC4;
    transition: .2s color ease;
    cursor: pointer;
}

.link:hover {
    text-decoration: underline;
    color: #5E8FC9;
}