.PageHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.PageHeader a {
    cursor: pointer;
    font-weight: bold;
    transition: 100ms ease-in-out opacity;
}

.PageHeader a:hover {
    opacity: 0.6;
}

.PageHeader > * + * {
    margin-left: 24px;
}

.PageHeader__search {
    margin-left: auto;
}