.DataList {
    margin-top: 12px;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.DataList__item {
    width: 32%;
}

.DataList:not(:first-child) .DataList__item {
    margin-top: 12px;
}

.DataList__item-heading {
    margin-bottom: 6px;
}

.DataList__item-content {
    display: block;
}

.DataList__item-content-text {
    display: block;
}